<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wissenaire'22 | Guest lectures</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/blue_favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Exo+2:600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        margin: 0;
        background-color: #121212;
        cursor: none !important;
      }

      .top-layer {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 12vh;
        left: 0;
      }

      body {
        cursor: none !important;
      }

      .cur {
        height: 31px;
        width: 31px;
        z-index: 99999999;
        pointer-events: none;
        /* background: grey;*/
        border-radius: 50%;
        position: absolute;
        /*animation: cursorAnim .5s infinite alternate;*/
        animation: rotate 4s infinite linear;
        transition: all 0.3s ease;
        transition-property: background, transform;
        transform-origin: 100%, 100%;
      }

      /* @media screen and (max-width: 1279px) {
    .cur {
      display: none;
    }
    body {
      cursor: default;
    }
  } */

      .main-cur {
        animation: none;
        margin: 0px;
        content: "";
        width: 0.1px;
        height: 0.1px;
        border: 10.5px solid #1a28cf;
        position: absolute;
        border-radius: 50%;
        /* opacity: .5; */
        top: 4.5px;
        left: 4.5px;
        /* transform: translate(-50%, -50%); */
        animation: cursorAnim 0.5s infinite alternate;
      }

      .satelite {
        height: 30px;
        margin: 30px;
        transform: rotate(-1deg);
        /* transition-duration: 200ms;
      transition-timing-function: ease-out;
      */
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

      @keyframes cursorAnim {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(0.7);
        }
      }

      @keyframes cursorClick {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(2);
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }

      .expand {
        animation: cursorClick 0.5s forwards;
        border: 1px solid blue;
      }

      .link-grow {
        transform: scale(2);
        background: #1a28cf;
      }

      .btn-gradient-2 {
        color: #ffffff;
        border-radius: 50em;
        border: 4px solid #1d6e38;
        background: transparent;
        margin-top: 10px;
        font-size: 20px;
      }

      .btn-gradient-2 {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: color 0.2s;
        padding: 10px 50px;
        letter-spacing: 4px;
      }

      .btn-gradient-2:hover {
        background-color: #1d6e38;
        color: #fff;
      }

      .italic {
        font-style: italic !important;
        color: #ffffff;
        font-size: 24px;
        line-height: 1.5;
        margin: 20px 0px;
      }

      /* @media only screen and (max-width: 380px) {
    .cur {
      display: none;
    }
    body {
      cursor: default;
    }
  } */
    </style>

    <!-- <link rel="stylesheet" href="./css/css1.css"> -->
    <link rel="stylesheet" href="./css/css2.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
    />
    <link rel="stylesheet" href="./css/hover-min.css" />

    <!-- Favicons -->
    <link
      href="./guestlectures/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="./guestlectures/assets/vendor/animate.css/animate.min.css"
      rel="stylesheet"
    />
    <link href="./guestlectures/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="./guestlectures/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./guestlectures/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="./guestlectures/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="./guestlectures/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="./guestlectures/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="./guestlectures/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('partials/navbar')%>
    <div class="top-layer">
      <main id="main">
        <section id="about" class="about">
          <div class="container" data-aos="fade-up" style="margin-top: 10vh">
            <div class="row">
              <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="about-img">
                  <img src="https://i.ibb.co/LZFBNsh/CHiefG.jpg" alt="CHiefG" />
                </div>
              </div>
              <div
                class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content1"
                style="font-size: 1.5rem"
              >
                <div class="section-title">
                  <p>CHIEF GUEST</p>
                </div>
                <h3>SMT. GEETA VARADAN</h3>
                <br />
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>
                      There is no dearth of women in science and technology. One
                      such eminent persona is smt.Geeta Varadan, The first Woman
                      Director of advanced Data processing Research institute,
                      ISRO.
                    </span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>
                      Having been associated to Research and academia for more
                      than 45 years, smt. Varadan was bestowed upon by many
                      Phenomenal awards like ISRO performance excellence award,
                      ISRO merit award ,ISRO team award Along with "Best woman
                      Scientist award" in 2006.
                    </span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Wissenaire 22 Kicks off with being honoured by having
                      Smt.Varadan as the cheif guestbof inaugural evening.</span
                    >
                  </li>
                </ul>
                <div>
                  <a href="#" class="reset btn-gradient-2">Register</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up" style="margin-top: 10vh">
            <div class="row">
              <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="about-img">
                  <img
                    src="https://i.ibb.co/7WVwX3P/Teknite-1.jpg"
                    alt="Teknite-1"
                  />
                </div>
              </div>
              <div
                class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content1"
                style="font-size: 1.5rem"
              >
                <div class="section-title">
                  <p>SPEAKER</p>
                </div>
                <h3>DR. VINNIE JAUHARI</h3>
                <br />
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Dr. Vinnie Jauhari is working with Microsoft as a
                      Director, Education Advocacy. Before this she has worked
                      as a Director and Professor of Strategy at IIMT,
                      Gurgaon.</span
                    >
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Dr. Jauhari was earlier Region Lead for HP Labs Open
                      Innovation Office for India. She has over 19 years of
                      experience which pans across industry and academic
                      assignments.
                    </span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>
                      She is the Founding Editor of Journal of Services Research
                      and Journal of Technology Management for Growing
                      Economies.
                    </span>
                  </li>
                </ul>
                <div>
                  <a href="#" class="reset btn-gradient-2">Register</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up" style="margin-top: 10vh">
            <div class="row">
              <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="about-img">
                  <img
                    src="https://i.ibb.co/HV96pf8/Teknite-2.jpg"
                    alt="Teknite-2"
                  />
                </div>
              </div>
              <div
                class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content1"
                style="font-size: 1.5rem"
              >
                <div class="section-title">
                  <p>SPEAKER</p>
                </div>
                <h3>DR. NIKHIL MOHAN PATTNAIK</h3>
                <br />
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Dr. Nikhil Mohan Pattnaik is the Founder of Srujanika, a
                      science education and research non-profit oraganisation.
                    </span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >He supported "Project Rebati" at Srujanika for creating
                      awareness for Linux and Open Source software, and Oriya
                      language localization.</span
                    >
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >He obtained master of science(Chemistry) from Indian
                      Institute of Technology, Kanpur and Phd(BioChemistry) from
                      University of Chicago, Illinois, USA. The event will be
                      conducted in offline mode in community centre at 10:00 AM
                      on 3rd April.</span
                    >
                  </li>
                </ul>
                <div>
                  <a href="#" class="reset btn-gradient-2">Register</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="about" class="about">
          <div class="container" data-aos="fade-up" style="margin-top: 10vh">
            <div class="row">
              <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
              >
                <div class="about-img">
                  <img
                    src="https://i.ibb.co/sVz7tCz/Teknite-3.jpg"
                    alt="Teknite-3"
                  />
                </div>
              </div>
              <div
                class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content1"
                style="font-size: 1.5rem"
              >
                <div class="section-title">
                  <p>SPEAKER</p>
                </div>
                <h3>DR. AJIT M SRIVASTAVA</h3>
                <br />
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Amit M Shrivastava is a professor in Institute of
                      Physics, Bhubaneswar. He was also the officiating director
                      in May,2013 for 1 year.</span
                    >
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span
                      >Furthermore, He was also Research Associate of Institute
                      for Theoretical Physics, University of California, Santa
                      Barbara, California, USA. Professor Ajit had obtained his
                      Masters of Physics from Indian Institute of Technology
                      Kanpur in 1983 and Syracuse University, Syracuse, (NY) USA
                      in 1998.
                    </span>
                  </li>
                </ul>
                <div>
                  <a href="#" class="reset btn-gradient-2">Register</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <div class="cur" id="circle">
      <div class="main-cur"></div>
      <img class="satelite" src="./Satellite.svg" alt="" />
    </div>

    <script src="./js/js1.js"></script>
    <script src="./js/js2.js"></script>
    <script src="./js/js3.js"></script>
    <script src="./js/js4.js"></script>
    <script src="./js/js5.js"></script>
    <script src="./js/js6.js"></script>

    <script src="./guestlectures/assets/vendor/aos/aos.js"></script>
    <script src="./guestlectures/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./guestlectures/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./guestlectures/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./guestlectures/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./guestlectures/assets/vendor/php-email-form/validate.js"></script>
    <script>
      let links = document.querySelector(".main-content a");
      const cursors = document.querySelector(".cur");
      document.addEventListener("mousemove", (e) => {
        let x = e.pageX;
        let y = e.pageY;
        cursors.setAttribute(
          "style",
          "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;"
        );
      });

      document.addEventListener("click", () => {
        cursors.classList.add("expand");
        setTimeout(() => {
          cursors.classList.remove("expand");
        }, 500);
      });
    </script>

    <!-- preloader -->
    <div id="preloader"></div>
    <script src="assets/js/main.js"></script>
    <!-- Template Main JS File -->
    <script src="./guestlectures/assets/js/main.js"></script>
  </body>
</html>
