<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wissenaire'22 | Workshops</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/blue_favicon.ico">
    <link
      href="https://fonts.googleapis.com/css?family=Exo+2:600,700,800,900"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="./stylesheets/heading.css" />

    <style>
      body {
        margin: 0;
        background-color: #121212;
        cursor: none !important;
      }
      

      .top-layer {
        position: absolute;
        width: 100%;
        z-index: 1;
        top: 12vh;
        left: 0;
      }

      body {
        cursor: none !important;
      }

      .cur {
        height: 31px;
        width: 31px;
        z-index: 99999999;
        pointer-events: none;
        /* background: grey;*/
        border-radius: 50%;
        position: absolute;
        /*animation: cursorAnim .5s infinite alternate;*/
        animation: rotate 4s infinite linear;
        transition: all 0.3s ease;
        transition-property: background, transform;
        transform-origin: 100%, 100%;
      }

      /* @media screen and (max-width: 1279px) {
  .cur {
    display: none;
  }
  body {
    cursor: default;
  }
} */

      .main-cur {
        animation: none;
        margin: 0px;
        content: "";
        width: 0.1px;
        height: 0.1px;
        border: 10.5px solid#1A28CF;
        position: absolute;
        border-radius: 50%;
        /* opacity: .5; */
        top: 4.5px;
        left: 4.5px;
        /* transform: translate(-50%, -50%); */
        animation: cursorAnim 0.5s infinite alternate;
      }

      .satelite {
        height: 30px;
        margin: 30px;
        transform: rotate(-1deg);
        /* transition-duration: 200ms;
    transition-timing-function: ease-out;
    */
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }

      @keyframes cursorAnim {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(0.7);
        }
      }

      @keyframes cursorClick {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(2);
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }

      .expand {
        animation: cursorClick 0.5s forwards;
        border: 1px solid blue;
      }

      .link-grow {
        transform: scale(2);
        background: #1a28cf;
      }

      /* @media only screen and (max-width: 380px) {
  .cur {
    display: none;
  }
  body {
    cursor: default;
  }
} */
    </style>

    <!-- <link rel="stylesheet" href="./css/css1.css"> -->
    <!-- CSS for heading begins -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/splitting/dist/splitting.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/splitting/dist/splitting-cells.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&amp;display=swap"
    />
    <link rel="stylesheet" href="https://use.typekit.net/zlj2zcu.css" />

    <!-- CSS for heading ends -->

    <link rel="stylesheet" href="./css/css2.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Abril+Fatface"
    />
    <link rel="stylesheet" href="./css/hover-min.css" />
    <link rel="stylesheet" href="./css/workshop.css" />
    <!-- preloader -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <script>
      
        // const team = require('./teammates.json');
        fetch('./teammates.json').then(data => {
          console.log(data);
        })
        // console.log(team);
        console.log("Hi");
      
      console.log("Hi");
    </script>
  </head>

  <body>
    <%- include('partials/navbar')%>

    <div class="top-layer">
      <div class="grid heading">
        <!-- this commented code has to be there even if it is empty -->
        <!-- <h1>
          <span class="main" aria-label="boring" data-splittings
            >WORKSHOPS</span
          >
        <script src='https://unpkg.com/splitting/dist/splitting.min.js'></script><script  src="./js/heading.js"></script>
        </h1> -->
      </div>
      
    </div>

    <div class="cur" id="circle">
      <div class="main-cur"></div>
      <img class="satelite" src="./Satellite.svg" alt="" />
    </div>

    <script src="./js/js1.js"></script>
    <script src="./js/js2.js"></script>
    <script src="./js/js3.js"></script>
    <script src="./js/js4.js"></script>
    <script src="./js/js5.js"></script>
    <script src="./js/js6.js"></script>
    <script>
      let links = document.querySelector(".main-content a");
      const cursors = document.querySelector(".cur");
      document.addEventListener("mousemove", (e) => {
        let x = e.pageX;
        let y = e.pageY;
        cursors.setAttribute(
          "style",
          "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;"
        );
      });

      document.addEventListener("click", () => {
        cursors.classList.add("expand");
        setTimeout(() => {
          cursors.classList.remove("expand");
        }, 500);
      });
    </script>

    <!-- preloader -->
    <div id="preloader"></div>
    <script src="assets/js/main.js"></script>
    
  </body>
</html>