<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wissenaire'22 | Our team</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/blue_favicon.ico">
    <link rel="stylesheet" href="./stylesheets/team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" integrity="sha512-doJrC/ocU8VGVRx3O9981+2aYUn3fuWVWvqLi1U+tA2MWVzsw+NVKq1PrENF03M+TYBP92PnYUlXFH1ZW0FpLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Raleway&display=swap" />
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" />

    <!-- preloader -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
        .cur {
            height: 31px;
            width: 31px;
            z-index: 99999999;
            pointer-events: none;
            /* background: grey;*/
            border-radius: 50%;
            position: absolute;
            /*animation: cursorAnim .5s infinite alternate;*/
            animation: rotate 4s infinite linear;
            transition: all 0.3s ease;
            transition-property: background, transform;
            transform-origin: 100%, 100%;
          }
    
          .main-cur {
            animation: none;
            margin: 0px;
            content: "";
            width: 0.1px;
            height: 0.1px;
            border: 10.5px solid #1A28CF;
            position: absolute;
            border-radius: 50%;
            /* opacity: .5; */
            top: 4.5px;
            left: 4.5px;
            /* transform: translate(-50%, -50%); */
            animation: cursorAnim 0.5s infinite alternate;
          }
    
          .satelite {
            height: 30px;
            margin: 30px;
            transform: rotate(-1deg);
            /* transition-duration: 200ms;
        transition-timing-function: ease-out;
        */
          }
    
          @keyframes rotate {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(359deg);
            }
          }
    
          @keyframes cursorAnim {
            from {
              transform: scale(1);
            }
            to {
              transform: scale(0.7);
            }
          }
    
          @keyframes cursorClick {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(2);
            }
            100% {
              transform: scale(1);
              opacity: 0;
            }
          }
    
          .expand {
            animation: cursorClick 0.5s forwards;
            border: 1px solid blue;
          }
    
          .link-grow {
            transform: scale(2);
            background: #1a28cf;
          }
    
        @media only screen and (max-width: 380px) {
            .cur {
                display: none;
            }
            body {
                cursor: default;
            }
        }
    
        .heading h1 {
            font-size: 2em;
        }
    
        h2 {
            font-size: 2rem; 
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class = "container-team">
        <%- include('partials/navbar')%>
    </div>
    <div class="container-team">
        <!-- Chief Coordinator -->
        <div id="chief" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="font-size: 2em; text-align: center;">CHIEF COORDINATOR</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay = '.5s'>
                    <div class="box">
                        <div class="img img1"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 1.8rem; font-weight: bold;">SATHVIK CHILAKA</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>cs34@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9502931419</p> 
                        </div>
                    </div>
                </div>
                

            </div>
            
        </div>
        <!-- Chief coordinator ends -->

        <!-- Marketing -->
        <div id="marketing" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">MARKETING</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay = '.5s'> 
                    <div class="box">
                        <div class="img img1"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 2rem; font-weight: bold;">DHEERAJ</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>knd12@iitbbs.ac.in<br>
                                <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8374991328</p>                     </div>
                    </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s"> 
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.6rem; font-weight: bold;">HARSHAVARDHAN</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>vh14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9337079323</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s"> 
                <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.8rem; font-weight: bold;">DEDIPYA NAMA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>nsd12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8897705091</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".65s"> 
                <div class="box">
                    <div class="img img4"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">NAUSHABA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>sn34@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9390141774</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".7s"> 
                <div class="box">
                    <div class="img img5"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">DHIREN</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>dtm11@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9100853699</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".75s"> 
                <div class="box">
                    <div class="img img6"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">AKHIL</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>sga10@iitbbs.ac.in <br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9618148936</p>                     </div>
                    </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".75s"> 
                    <div class="box">
                        <div class="img img7"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 2rem; font-weight: bold;">SAKETH</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>js28@iitbbs.ac.in <br>
                                <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7799606053</p>                     </div>
                        </div>
                    </div>
            </div>
            
        </div>
        <!-- Marketing ends -->

        <!-- branding -->
        <div id="branding" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">BRANDING</h3>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SATHVIK TONY</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>tcs14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9959239513</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ABHILASH</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ar39@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8688473151</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s">
                <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">NALINIKANTH</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>bnc12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8790882749</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s">
                    <div class="box">
                        <div class="img img4"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 2rem; font-weight: bold;">BHASVANA</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>db20@iitbbs.ac.in <br>
                                <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9390262243</p>                     </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Branding ends -->

        <!-- Workshops -->
        <div id="workshops" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">WORKSHOPS</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.8rem; font-weight: bold;">DIVYESH CIRIKONDA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>cd11@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8317652305</p>                     </div>
                </div>
                </div>

                <div class="big-box wow" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">AKARSH</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>kvs11@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8317555341</p>                     </div>
                </div>
                </div>

                <div class="big-box wow" data-wow-delay=".55s">
                    <div class="box">
                        <div class="img img3"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 2rem; font-weight: bold;">BHAVIKA</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>bk21@iitbbs.ac.in<br>
                                <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8790712827</p>                     </div>
                    </div>
                </div>

                <div class="big-box wow" data-wow-delay=".55s">
                    <div class="box">
                        <div class="img img4"></div>
                        <div class="overlay"></div>
                        <div class="text">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <h2 style="font-size: 1.8rem; font-weight: bold;">SASIDHAR PENTAPATI</h2>
                            <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ps46@iitbbs.ac.in<br>
                                <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9381621272</p>                     </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Workshops ends -->

        <!-- Competitions -->
        <div id="competitions" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">COMPETITIONS</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">NAGAMANU</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>asn12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8247832789</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">TARUN</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>tr14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9456252824</p>                     </div>
                </div>
                </div>

            </div>
            
        </div>
        <!-- Competitions ends -->

        <!-- Public Relations -->
        <div id="public-relations" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">PUBLIC RELATIONS</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ANIRUDH</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ma31@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8688562466</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SRAVANI T.N</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>tns14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9133710059</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s">
                <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">NANDINI</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ugn12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8790861349</p>                     </div>
                </div>
                </div>

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".65s">
                <div class="box">
                    <div class="img img4"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SAHITHI</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".7s">
                <div class="box">
                    <div class="img img5"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">RITHIK</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".75s">
                <div class="box">
                    <div class="img img6"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">CHARAN</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".8s">
                <div class="box">
                    <div class="img img7"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ABHINAV</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->
                
            </div>
            
        </div>
        <!-- Public Relations ends -->

        <!-- CA program -->
        <div id="ca-program" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">CAMPUS AMBASSADOR PROGRAM</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.8rem; font-weight: bold;">RAGHU VAMSIDHAR</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>srv12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>6309375140</p>                     </div>
                </div>
                </div>

            </div>
            
        </div>
        <!-- CA program ends -->

        <!-- Exhibits -->
        <div id="exhibits" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">EXHIBITS</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.8rem; font-weight: bold;">SHIVRAJIT SOM</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ss114@iitbbs.ac.in <br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9929583770</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ANIRUDHA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>amu10@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>9521206656</p>                     </div>
                </div>
                </div>

            </div>
            
        </div>
        <!-- Exhibits ends -->

        <!-- Qwissenaire -->
        <div id="qwissenaire" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">QWISSENAIRE</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ROHAN REDDY</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>arr10@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7702825377</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SWATHI BODA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>bs26@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8367026424</p>                     </div>
                </div>
                </div>

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".6s">
                <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SHIVDARSHAN</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

            </div>
            
        </div>
        <!-- qwissenaire ends -->

        <!-- guest lecture -->
        <div id="guest-lecture" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">GUEST LECTURES</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">DEEPTHI SAI</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>pds12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8688198270</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">YASASWINI N</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>ny14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7095753086</p>                     </div>
                </div>
                </div>

            </div>
            
        </div>
        <!-- Guest Lectures ends -->

        <!-- Creatives -->
        <div id="creatives" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">CREATIVES</h1>
            </div>

            <div class="card-section">

                <div class="big-box wow zoomIn" data-wow-delay=".5s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">PAVAN KUMAR</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>npk13@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7013347804</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                    <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">ROHAN SAI</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>shv12@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7075014903</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s">
                    <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 1.8rem; font-weight: bold;">KOUSHIK KUMAR</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>kkk14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>6300992496</p>                     </div>
                </div>
                </div>

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".65s">
                    <div class="box">
                    <div class="img img4"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">KARTHEEK</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

                <!-- <div class="big-box wow zoomIn" data-wow-delay=".7s">
                    <div class="box">
                    <div class="img img5"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SAI RAM</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>123ab@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>1234567890</p>                     </div>
                </div>
                </div> -->

            </div>
            
        </div>
        <!-- Creatives ends -->

        <!-- Web -->
        <div id="web" class="wrapper">

            <div class="heading wow zoomIn">
                <h1 style="text-align: center;">WEB</h2>
            </div>

            <div class="card-section wow zoomIn" data-wow-delay=".5s" >

                <div class="big-box wow zoomIn" data-wow-delay=".55s">
                <div class="box">
                    <div class="img img1"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">NAVANEETH</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>brn14@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8985749089</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".6s">
                    <div class="box">
                    <div class="img img2"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SATHIYA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>sss18@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8919212893</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".65s">
                    <div class="box">
                    <div class="img img3"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">KARTIKEYA</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>pk39@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>7337034444</p>                     </div>
                </div>
                </div>

                <div class="big-box wow zoomIn" data-wow-delay=".65s">
                    <div class="box">
                    <div class="img img4"></div>
                    <div class="overlay"></div>
                    <div class="text">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <h2 style="font-size: 2rem; font-weight: bold;">SWAROOP</h2>
                        <p style="font-size: 1.5rem; font-weight: bold;"><i style="color: red; margin-right: 4px;" class="fas fa-envelope-square"></i>rss13@iitbbs.ac.in<br>
                            <i style="color: green; margin-right: 4px;" class="fab fa-whatsapp"></i>8688958277</p>                     </div>
                </div>
                </div>
                
            </div>
            
        </div>
        <!-- web ends -->


       

    </div>
    <div class="cur" id="circle">
        <div class="main-cur"></div>
        <img class="satelite" src="./Satellite.svg" alt="" />
    </div>
    <script src="./js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="./js/js1.js"></script>
    <script src="./js/js2.js"></script>
    <script src="./js/js3.js"></script>
    <script src="./js/js4.js"></script>
    <script src="./js/js5.js"></script>
    <script src="./js/js6.js"></script>
    <script>
        let links = document.querySelector(".main-content a");
        const cursors = document.querySelector(".cur");
        document.addEventListener("mousemove", (e) => {
          let x = e.pageX;
          let y = e.pageY;
          cursors.setAttribute(
            "style",
            "top: " + (e.pageY - 10) + "px; left: " + (e.pageX - 10) + "px;"
          );
        });
  
        document.addEventListener("click", () => {
          cursors.classList.add("expand");
          setTimeout(() => {
            cursors.classList.remove("expand");
          }, 500);
        });
      </script>
      <div id="preloader"></div>
      <!-- preloader -->
      <script src="assets/js/main.js"></script>
</body>
</html>
<!-- NeuroGC1234 --> 
<!-- Marketing
Dheeraj
Jatni
Dedipya
Naushabha
Dhiren
Guru Sai Akhil
Saketh Juturu

Branding
Tony
Abhilash
Nalnikanth
Bhasvana

Workshops
Divyesh
Akarsh
Bhavika
Sasidhar

Competitions
Manu
Tarun Kumar Yadav

Public Relations
Anirudh
Sravani
Nandini

CA Program
Raghu Vamsidhar

Exhibits
Shivrajit Som
Anirudh Uttarwar

QWissenaire
Rohan Reddy
Boda Swathi

Guest Lectures
Deepthi Reddy
Yasaswini

Creatives
Pavan Kumar
Tammudu Rohan
Koushik Kumar

Web
Karthikeya
Navaneeth
Swaroop
Sathya Sheelan -->


<!-- 
    sathvik tony
 -->