<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8" />
        <meta name = "viewport" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wissenaire'22</title>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Festive);

body {
  padding: 0;
  margin: 0;
  height: 50vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 8rem;
  font-family: "Roboto";
  font-weight: 900;
  background-image: url(https://c.tenor.com/7k2yASJxRuEAAAAM/stars-twinkling.gif);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }
}

        </style>
    </head>

    <body>
        <div class="container">
            <h1>Team</h1>
        </div>
        <div class = "container">
        </div>
    </body>
</html>